:root {
  --primery-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primery-text-colour-dark: #212121;
  --secondary-text-colour-medium: #757575;
  --tertiary-text-colour-lite: #ffffff;
  --tertiary-text-colour-lite-transparency: rgba(255, 255, 255, 0.6);
  --accent-text-colour: #2196f3;
  --background-hero: #c4c4c4;
  --background-active-btn-hero: #188ce8;
  --background-btn-lite: #f5f4fa;
  --temporary-color: #000000;
  --btn-shadow: rgba(0, 0, 0, 0.25);
  --secondary-background-color: #2f303a;
  --border-color: #eeeeee;
  --border-header-color: #ececec;
}
body {
  font-family: var(--primery-font-family);
  color: var(--primery-text-colour-dark);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-text-colour);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*======== header ========*/
.header {
  border-bottom: 1px solid var(--border-header-color);
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.navigation {
  display: flex;
}
.logo-accent {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-colour);
  margin-right: 92px;
}
.logo-header {
  color: var(--temporary-color);
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-list-item:not(:last-child) {
  margin-right: 50px;
}
.contact {
  display: flex;
  align-items: center;
  color: var(--secondary-text-colour-medium);
}
.contact-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-link,
.contact-mail-link,
.contact-tel-link {
  color: currentColor;
  display: flex;
}
.icon-envelope {
  width: 16px;
  height: 14px;
  margin-right: 10px;
  fill: currentColor;
}
.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

/*========== hero ===========*/
.hero {
  max-width: 1600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-hero);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--tertiary-text-colour-lite);
  margin-bottom: 30px;
}
.hero-btn {
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-text-colour);
  color: var(--tertiary-text-colour-lite);
  filter: drop-shadow(0px 4px 4px var(--btn-shadow));
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--background-active-btn-hero);
}
/* ======== MAIN =========== */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ======= Наши преимущества ======== */
.advantage-list {
  display: flex;
  margin-left: -30px;
}
.advantage-list-item {
  flex-basis: calc((100%-120px) / 4);
  margin-left: 30px;
}
.advantage-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantage-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-colour-medium);
}
.icon-advantage {
  display: flex;
  padding: 25px 100px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.our-work,
.our-team {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

/* ========= Чем мы занимаемся ========== */
.our-work-section {
  padding-top: 0px;
}
.our-work-list {
  display: flex;
  justify-content: space-between;
  margin-left: -30px;
}
.our-work-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
}

/* ===== Наша команда ====== */
.our-team-section {
  background-color: var(--background-btn-lite);
}
.our-team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.our-team-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--tertiary-text-colour-lite);
}
.our-team-person {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.our-team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.our-team-profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-colour-medium);
}

/* ===== footer ===== */
.footer {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: var(--tertiary-text-colour-lite);
}
.address-footer {
  margin-top: 20px;
}

.footer-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-addresses-link {
  color: var(--tertiary-text-colour-lite);
}

.footer-mail-link,
.footer-tel-link {
  color: var(--tertiary-text-colour-lite-transparency);
}

/* ====== Портфолио ======= */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: var(--background-btn-lite);
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--background-active-btn-hero);
  color: var(--tertiary-text-colour-lite);
  filter: drop-shadow(0px 4px 4px var(--btn-shadow));
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.projects-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-bottom: 30px;
}
.projects-decor {
  border: 1px solid var(--border-color);
  border-top: none;
  padding: 20px 24px;
}
.projects-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-desc {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-colour-medium);
}
